body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/*-------------------------------Navigation*/
.navigation {
    width: 100%;
    position: relative;
}
.navbar {
  background-color: transparent;
  vertical-align: middle;
  z-index: 900;
  height: 80px;
  padding: 5px 30px 5px 30px;
}

.navbar-toggler{
    border: none;
}

#navigationDrop {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  border-color: transparent;
  text-align: right;
  font-size: 20px;
  letter-spacing: 1px;
  padding-right: 30px;
}
/*-------------------------------Gradient Jumbotron*/

.container-gradient-bg {
  width: 100%;
  height: 80vh;
  color: #fff;
  background: linear-gradient(-55deg, #963caa, #ee7753, #963caa, #ef5466);
  background-size: 500%, 400%;
  position: relative;
  animation: change 35s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.callout-container {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-logo img {
  width: 100%;
  height: auto;
  padding: 25px;
  margin: 0 0 80px 0;
}

.jumbo-button {  
 letter-spacing: 1.9px;
  border: 0.1px solid rgb(255, 255, 255, 0.4);
  color: white;
  padding: 8px 25px;
  font-size: 14px;
}

.jumbo-button:hover {
    color: white;
    text-decoration: none;
}


/*-------------------------------Latest Releases*/

.index-songsection {
  text-align: center;
  justify-content: center;
}

.center-row {
  justify-content: center;
}
.index-songs-header {
  color: rgb(216, 27, 96);
  margin: 70px 0 40px 0;
  font-weight:400;
}

.albumcover img {
  height: auto;
  width: 100%;
  max-width: 600px;
  margin: 30px 30px 60px 30px;
  box-shadow: 5px 5px 9px #310009; 
}
/*---------------------------------- Submit Email*/

.email-submit-zone {
  align-items: center;
  justify-content: center;
}

.inline {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.email-submit-box {
  margin: 40px 80px;
  color: #D81B60;
  border: 0.1px solid rgb(216, 27, 96, 0.4 );
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 3px 5px 5px rgb(49, 0, 9, 0.24);
}

.email-input {
  color: #D81B60;
  border-width: 0 0 1px 0;
}

.submit-button {
  background: transparent;
  letter-spacing: 1px;
  border: 0.1px solid rgb(216, 27, 96, 0.4 );
  color: #D81B60;
  padding: 8px 30px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 18px 0 23px;
}

.sent-button {
  background: transparent;
  letter-spacing: 1px;
  border: 0.1px solid rgb(216, 27, 96, 0.4 );
  color: #D81B60;
  padding: 8px 37px;
  font-size: 12px;
  font-weight: 500;
  margin: 0 18px 0 23px;
  box-shadow: 1px 1px 6px #D81B60; 
}

.terms-button {
  margin-top: 10px;
  letter-spacing: 1px;
  color: #D81B60;
  padding: 8px 0;
  font-size: 14px;
  border: none;
  background: transparent;
}

.collapse {
  font-size: 12px;
  font-weight: 300px;
  color: gray;
}

/*------------------------------- Footer*/

.footer {
background-color: rgb(134, 124,125, 0.21);
width: 100%;
height: 300px;
justify-content: center;
text-align: center;
align-content: center;
font-size: 14px;
color: rgb(216, 27, 96);
position: relative;
}

.footer-socials {
  margin: 40px 3px 50px 3px;
}

.sociallinks-box a {
    text-decoration: none;
}

.footer-buttons-box {
  margin-top: 20px;
  width: 100;
}

.footer-buttons-box a {
    padding: 10px;
    text-align: center;
    align-content: center;
}

.footer-buttons {
  width: 100px;
  background: transparent;
  border: 0.1px solid rgba(192, 89, 127, 0.2);
  color: #D81B60;
  margin: 0 5px 0 5px;
  padding: 0.8em 1em;
  text-align: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.2px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  line-height: 1.15384615;
}


.footer-buttons:hover {
text-decoration: none;
color: black;
border-color: black;
}

.copyright {
position: absolute;
text-align: center;
bottom: 0;
width: 100%;
margin-bottom: 10px;
}



/*---------------------------------- Screensize*/

/*------------------------------ Phone*/

@media (min-width: 320px) {
  .albumcover img {
    margin: 30px 0 60px 0;
  }
  .footer-buttons-box a {
    padding: 0;
    text-align: center;
    align-content: center;
 }
 .footer-buttons {
  width: 100px;
  background: transparent;
  border: 0.1px solid rgba(192, 89, 127, 0.2);
  color: #D81B60;
  padding: 0.8em 1em;
  margin: 0;
 }
}

@media (min-width: 375px) {
.footer-buttons {
  margin: 0 5px 0 5px;
 }
}

@media (min-width: 767px) {
.footer-socials {
  margin: 40px 10px 50px 10px;
  }
}

@media (max-width: 767px) {
  .email-submit-box {
  margin: 20px;
  }
}